<form action="{% url 'pets:add' %}" method="post">


  {% csrf_token %}

  <fieldset>
    <label for="name">
      Name:
    </label>
    <input type="text" name="name" id="name"><br>

    <label for="age">
      Age:
    </label>
    <input type="number" name="age" id="age"><br>

    <label for="gender">
      Gender:
    </label>
      <label for="gender(F)">
        female
      </label>
      <input type="radio" name="gender" id="gender(F)" value="F">

       <label for="gender(M)">
        male
      </label>
      <input type="radio" name="gender" id="gender(M)" value="M"><br>

    <label for="species">
      Species:
    </label>
    <input type="text" name="species" id="species"><br>
  </fieldset>

  <input type="submit" value="Add">

</form>